# Xcode
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved


# Environment Variables
.env
**/.env
env

# Firebase
# GoogleService-Info.plist

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Root files of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
